.attribution { font-size: 11px; text-align: center; }

.attribution a { color: hsl(228, 45%, 44%); }
:root{
    /*### Primary*/

--Very-dark-blue: hsl(233, 47%, 7%);
--Dark-desaturated-blue: hsl(244, 38%, 16%);
--Soft-violet: hsl(277, 64%, 61%);

/*### Neutral*/

--White: hsl(0, 0%, 100%);
--main-paragraph: hsla(0, 0%, 100%, 0.75);
--stat-headings: hsla(0, 0%, 100%, 0.6);

--a-color: hsl(228, 45%, 44%);
}
body{
    margin: 0;
    padding: 0;
    background-color:var(--Very-dark-blue);
}
main{
    background-color:var(--Dark-desaturated-blue);
    margin: 90px 20px;
    border-radius: 10px;
}
.cabecera{
    background-image: url("../images/image-header-mobile.jpg");
    width: 100%;
    height: 260px;
    background-size: cover;
    position: relative;
    filter: contrast(20px);
    border-radius: 10px 10px 0 0 ;
}

.cabecera::before{
    content: "";
    background-color:var(--Soft-violet);
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.65;
    border-radius: 10px 10px 0 0 ;
}
.primaria{
    padding-top: 14px;
}
h1{
    color:var(--White);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 30px;
    margin: 24px 24px;
}

span{
    color: var(--Soft-violet);
}
h4{
    color: var(--stat-headings);
    text-align: center;
    font-family:'Inter',sans-serif ;
    font-weight: 400;
    font-size: 18px;
    margin: 24px 24px
}
.secundaria{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 12px 0;
}

h3{
    color: var(--White);
    margin: 0;
    text-align: center;
    font-family:'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 26px;
}
p{
    color: var(--stat-headings);
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin-top: 6px;
    font-size: 14px;
    margin-bottom: 40px;
    text-align: center;
}